body {background-image: url("KUPS!.jpg");
	 background-position: center;}
h1   {color: black;
      font-family: Arial;
	  font-size: 300%;}
p    {color: black;
	  font-family: arial;
      font-size: 200%;
	  margin: 10px;}